<div class="float_right">
  <a href="http://facebook.com/"><img src="/img/fbook.png"></a>
  <a href="http://vk.com/"><img src="/img/vk.png"></a>
  <div class="contacts">
    тел. 0673454877<br>
    &nbsp; &nbsp; 0957088595
  </div>
</div>