<div id="header" name="header" class="top_div shadow">
  <img id="header_img" name="header_img" src="/img/menu/p01.png">
</div>
<div id="menu" name="menu">
  <%= render "devise/sessions/new", resource: User, resource_name: User %>

</div>

<div id="calendar" name="calendar" class="shadow">
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
</div>
