<div id="header" name="header" class="top_div shadow">
  <!-- img id="header_img" name="header_img" src="/img/menu/p01.png" -->
  <%= category_images %>
</div>
<div id="menu" name="menu">
  <%= render "users/current_user" if current_user %>
  <%= render "devise/sessions/short_new", resource: User, resource_name: User unless current_user %>
</div>

<div id="calendar" name="calendar" class="shadow">
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
  CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
</div>
