<div id="calendar-wrapper" name="calendar-wrapper" class="main shadow" data-url="<%= events_path %>">
  <h1>КАЛЕНДАРЬ</h1>
  <div id="calendar" name="calendar" data-url="<%= calendar_events_path %>"></div>
</div>