@font-face {
  font-family: 'Papirus';
  src: url('/fonts/Papyrus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//@font-face {
//  font-family: 'Taurus';
//  src: url('/fonts/Taurus-Light_Normal.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//}