body {
    font-family: 'Papyrus';
}

div {
    #border: 1px solid #333333;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.shadow {
    -webkit-box-shadow: 2px 2px 3px #95986c;
    -moz-box-shadow: 2px 2px 3px #95986c;
    box-shadow: 2px 2px 3px #95986c;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: url(/img/back.png);
    background-size: 100%;
}

.alert, .error, .warning, .notice {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid black;
    -webkit-box-shadow: 3px 3px 4px #282b1f;
    -moz-box-shadow: 3px 3px 4px #282b1f;
    box-shadow: 3px 3px 4px #282b1f;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

.alert, .error {
    background-color: red;
}

.warning, .notice {
    background-color: green;
}

input[type=text], input[type=password], input[type=email] {
    width: 150px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 18px;
}

input[type=submit] {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: white;
    background-color: orangered;
    font-family: 'Papyrus';
    font-size: 18px;
    padding: 0 8px;
}

.hidden {
  display: none;
}

h1 {
  text-align: center;
}

.float_right {
    float: right;
}

.inline-block {
    display: inline-block;
}