div {
    #border: 1px solid #333333;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.shadow {
    -webkit-box-shadow: 3px 3px 4px #282b1f;
    -moz-box-shadow: 3px 3px 4px #282b1f;
    box-shadow: 3px 3px 4px #282b1f;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: url(/img/back.png);
    background-size: 100%;
}

.alert, .error, .warning, .notice {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid black;
    -webkit-box-shadow: 3px 3px 4px #282b1f;
    -moz-box-shadow: 3px 3px 4px #282b1f;
    box-shadow: 3px 3px 4px #282b1f;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

.alert, .error {
    background-color: red;
}

.warning, .notice {
    background-color: green;
}

input[type=text], input[type=password], input[type=email] {
    width: 150px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 18px;
}

input[type=submit] {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: orangered;
    font-size: 18px;
}
