<!DOCTYPE html>
<html>
<head>
  <title>ZhyviCom</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper" name="wrapper">
    <div id="left" name="left">
      <div class="top_div">
        <div class="image"></div>
        MENU--<br>
        MENU--<br>
        MENU--<br>
        MENU--<br>
        MENU--<br>
        MENU--<br>
        MENU--<br>
        MENU--<br>
        MENU--<br>
        MENU--<br>
      </div>
      <div id="sign_up" name="sign_up">
        REGISTRATION
      </div>
      <div id="feedbacks" name="feedbacks">
        FEEDBACK 1<br>
        FEEDBACK 1<br>
        FEEDBACK 1<br>
        FEEDBACK 1<br>
        FEEDBACK 1<br>
        FEEDBACK 1<br>
        FEEDBACK 1<br>
        FEEDBACK 1<br>
        FEEDBACK 1<br>
        FEEDBACK 1<br>
        FEEDBACK 1<br>
        FEEDBACK 1<br>
        FEEDBACK 1<br>
        FEEDBACK 1<br>
        FEEDBACK 1<br>
        FEEDBACK 1<br>
        FEEDBACK 1<br>
      </div>
    </div>

    <div id="content" name="content">
      <div id="header" name="header" class="top_div">
        Header Header Header Header Header Header Header Header Header <br>
        Header Header Header Header Header Header Header Header Header <br>
        Header Header Header Header Header Header Header Header Header <br>
        Header Header Header Header Header Header Header Header Header <br>
        Header Header Header Header Header Header Header Header Header <br>
        Header Header Header Header Header Header Header Header Header <br>
        Header Header Header Header Header Header Header Header Header <br>
        Header Header Header Header Header Header Header Header Header <br>
        Header Header Header Header Header Header Header Header Header <br>
        Header Header Header Header Header Header Header Header Header <br>
        Header Header Header Header Header Header Header Header Header <br>
        Header Header Header Header Header Header Header Header Header <br>
        Header Header Header Header Header Header Header Header Header <br>
        Header Header Header Header Header Header Header Header Header <br>
        Header Header Header Header Header Header Header Header Header <br>
      </div>
      <div id="menu" name="menu">
        Menu Menu Menu Menu Menu Menu Menu Menu <br>
      </div>

      <div id="calendar" name="calendar">
          CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
          CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
          CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
          CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
          CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
          CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
          CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
          CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
          CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
          CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
          CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
          CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
          CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
          CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
          CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
          CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT <br>
          <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
